img{
    width:100;
}

.shop{
    background-color: aqua;
    width:100%;
}

.wrap{
    background-color: aquamarine;
    padding:0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cakes{
    background-color: azure;
    float: left;
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}
